# .dockerignore
node_modules
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
.pnpm-lock.yaml
.npm
.yarn
.next/cache
out
build
dist
.DS_Store
*.log
logs/
tmp/
temp/

# Git & OS
.git
.gitignore
Thumbs.db
desktop.ini

# Environment
.env.local
.env.development
.env.staging